<div class="features">
  <div class="features__center center">
    <h1 class="features__title d1" data-aos="animation-scale-top" data-aos-duration="600">What makes Solo different?</h1>
    <div class="features__info">Organize your tasks, lists and reminders in one app.</div>
    <div class="features__btns"><button class="features__btn btn btn_orange">Try it free</button><button class="features__btn btn btn_border"><svg class="icon icon-play">
          <use xlink:href="assets/img/sprite.svg#icon-play"></use>
        </svg><span class="btn__text">Watch how it works</span></button></div>
    <div class="features__bg">
      <div class="features__preview"><img srcset="assets/img/figures-9.1@2x.png 2x" src="assets/img/figures-9.1.png" alt=""></div>
      <div class="features__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-9.2@2x.png 2x" src="assets/img/figures-9.2.png" alt=""></div>
    </div>
    <div class="features__wrap">
      <div class="features__row">
        <div class="features__col">
          <div class="features__icon"><img src="assets/img/chat.svg" alt=""></div>
          <div class="features__category">Your to-do list. Done.</div>
          <div class="features__text">4,729 curated design resources to energize your creative workflow</div>
        </div>
        <div class="features__col">
          <div class="features__icon"><img src="assets/img/folder-replace.svg" alt=""></div>
          <div class="features__category">One place for your team</div>
          <div class="features__text">4,729 curated design resources to energize your creative workflow</div>
        </div>
        <div class="features__col">
          <div class="features__icon"><img src="assets/img/comment-add.svg" alt=""></div>
          <div class="features__category">Pop in to Talk</div>
          <div class="features__text">4,729 curated design resources to energize your creative workflow</div>
        </div>
      </div>
    </div>
  </div>
</div>