<div class="integrations">
  <div class="integrations__center center">
    <div class="integrations__wrap">
      <div class="stage">amazing features</div>
      <h2 class="integrations__title h2" data-aos="animation-scale-top" data-aos-duration="600">Powerful integrations</h2>
      <div class="integrations__text">We're a growing family of 382,081 designers and makers from around the world</div>
    </div>
    <div class="integrations__list">
      <div class="integrations__row">
        <div class="integrations__col">
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/notion.svg" alt=""></div>
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/figma.svg" alt=""></div>
        </div>
        <div class="integrations__col">
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/atom.svg" alt=""></div>
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/sketch.svg" alt=""></div>
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/google.svg" alt=""></div>
        </div>
        <div class="integrations__col">
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600"><img src="assets/img/dribbble.svg" alt=""></div>
          <div class="integrations__logo" data-aos="animation-scale-top" data-aos-duration="600" style="padding: 10px 0 0 10px;"><img src="assets/img/ui8.svg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</div>