<div class="footer">
  <div class="footer__center center">
    <div class="footer__body">
      <div class="footer__wrap"><a class="footer__logo" href="index.html"><img class="footer__pic footer__pic_dark"
            src="assets/img/logo-dark.png" alt="" /><img class="footer__pic footer__pic_light"
            src="assets/img/logo-light.png" alt="" /></a>
        <div class="footer__text">Join millions of people who organize work and life with Solo App.</div>
      </div>
      <div class="footer__line">
        <div class="footer__downloads">
          <a class="footer__download" href="#"><img src="assets/img/google-play.svg"
              alt="" /></a>
              <a class="footer__download" href="#"><img src="assets/img/app-store.svg" alt="" /></a></div>
        <div class="footer__nav">
          <a class="footer__link" routerLinkActive="active" *ngFor="let item of NAV" [routerLink]="item.routerLink">{{item.name}}</a>
          </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">© Solo Inc. Designed by UI8 Team</div>
      <div class="footer__social"><a class="footer__link" href="#"><svg class="icon icon-facebook">
            <use xlink:href="assets/img/sprite.svg#icon-facebook"></use>
          </svg></a><a class="footer__link" href="#"><svg class="icon icon-twitter">
            <use xlink:href="assets/img/sprite.svg#icon-twitter"></use>
          </svg></a><a class="footer__link" href="#"><svg class="icon icon-instagram">
            <use xlink:href="assets/img/sprite.svg#icon-instagram"></use>
          </svg></a></div>
    </div>
  </div>
  <label class="switch js-switch-theme" >
    <input class="switch__input" type="checkbox"/>
    <span class="switch__in" (click)="changeTheme()">
      <span class="switch__box"></span>
      <span class="switch__icon switch__icon_dark">
        <svg class="icon icon-dark">
          <use xlink:href="assets/img/sprite.svg#icon-dark"></use>
        </svg>
      </span>
      <span class="switch__icon switch__icon_light">
        <svg class="icon icon-light">
          <use xlink:href="assets/img/sprite.svg#icon-light"></use>
        </svg>
      </span>
    </span>
  </label>
</div>