<header class="header">
  <div class="header__center center">
    <a class="header__logo" [routerLink]="['/']">
      <img class="header__pic header__pic_dark" src="assets/img/logo-dark.png" alt="" />
      <img class="header__pic header__pic_light" src="assets/img/logo-light.png" alt="" /></a>
    <div class="header__wrapper">
      <nav class="header__nav">
        <a class="header__link" routerLinkActive="active" *ngFor="let item of NAV"  [routerLink]="item.routerLink">{{item.name}}</a>
      </nav>
      <div class="header__btns">
        <a class="header__btn btn btn_transparent js-popup-open" href="#popup-sign-in"
          data-effect="mfp-zoom-in">Login</a>
        <a class="header__btn btn btn_orange js-popup-open" href="#popup-sign-up" data-effect="mfp-zoom-in">Sign up</a>
      </div>
      <picture class="header__preview">
        <source media="(max-width: 767px)"
          srcset="assets/img/header-pic-mobile@2x.png, assets/img/header-pic-mobile@2x.png 2x" /><img
          srcset="assets/img/header-pic@2x.png 2x" src="assets/img/header-pic.png" alt="" />
      </picture>
    </div>
    <button class="header__burger"></button>
  </div>
</header>

<div class="popup mfp-hide" id="popup-sign-up">
  <div class="popup__title h2">Sign up</div>
  <div class="popup__variants"><a class="popup__variant" href="#"><img src="img/google.svg" alt="">Sign up via Google</a><a class="popup__variant" href="#"><img src="img/apple.svg" alt="">Sign up via Apple</a></div>
  <div class="popup__details">Or continue with email</div>
  <div class="popup__btns"><a class="popup__btn btn btn_dark js-popup-open" href="#popup-code" data-effect="mfp-zoom-in">Enter your email</a><a class="popup__btn btn btn_orange js-popup-open" href="#popup-code" data-effect="mfp-zoom-in">Continue</a></div>
  <div class="popup__note">By clicking the Continue button, you agree to the terms of service and privacy policy.</div>
</div>
<div class="popup mfp-hide" id="popup-code">
  <div class="popup__title h2">Check your <br>inbox</div>
  <div class="popup__info">Solo just sent you a 6-Digit Code to <a href="mailto:tam@ui8.net">tam@ui8.net</a> please check your inbox and enter the code below.</div>
  <div class="popup__code">
    <div class="popup__number"><input type="tel"></div>
    <div class="popup__number"><input type="tel"></div>
    <div class="popup__number"><input type="tel"></div>
    <div class="popup__number"><input type="tel"></div>
    <div class="popup__number"><input type="tel"></div>
    <div class="popup__number"><input type="tel"></div>
  </div>
  <div class="popup__btns"><button class="popup__btn btn btn_orange">Enter</button><a class="popup__link" href="#">Resend digit code</a></div>
</div>
<div class="popup mfp-hide" id="popup-sign-in">
  <div class="popup__title h2">Sign in</div>
  <div class="popup__variants"><a class="popup__variant" href="#"><img src="img/google.svg" alt="">Sign up via Google</a><a class="popup__variant" href="#"><img src="img/apple.svg" alt="">Sign up via Apple</a></div>
  <div class="popup__details">Or continue with email & password</div>
  <div class="popup__btns"><a class="popup__btn btn btn_dark js-popup-open" href="#popup-code" data-effect="mfp-zoom-in">Enter your email</a><a class="popup__btn btn btn_dark js-popup-open" href="#popup-code" data-effect="mfp-zoom-in">Password</a><a class="popup__btn btn btn_orange js-popup-open" href="#popup-code" data-effect="mfp-zoom-in">Sign In</a></div>
  <div class="popup__note"> </div>
</div>