<div class="contact">
  <div class="contact__center center">
    <div class="contact__bg">
      <div class="contact__preview"><img srcset="assets/img/figures-2.1@2x.png 2x" src="assets/img/figures-2.1.png" alt=""></div>
      <div class="contact__preview" data-aos="animation-translate-up" data-aos-duration="1000"><img srcset="assets/img/figures-2.2@2x.png 2x" src="assets/img/figures-2.2.png" alt=""></div>
      <div class="contact__preview" data-aos="animation-translate-down" data-aos-duration="1000" data-aos-delay="400"><img srcset="assets/img/figures-2.3@2x.png 2x" src="assets/img/figures-2.3.png" alt=""></div>
      <div class="contact__preview" data-aos="animation-translate-down" data-aos-duration="1000" data-aos-delay="800"><img srcset="assets/img/figures-2.4@2x.png 2x" src="assets/img/figures-2.4.png" alt=""></div>
      <div class="contact__preview"><img srcset="assets/img/figures-2.5@2x.png 2x" src="assets/img/figures-2.5.png" alt=""></div>
    </div>
    <div class="contact__wrap">
      <h1 class="contact__title h2" data-aos="animation-scale-top" data-aos-duration="600">Contact Us</h1>
      <div class="contact__info">Questions, bug reports, feedback.</div>
      <form class="contact__form">
        <div class="field">
          <div class="field__label">Your email</div>
          <div class="field__wrap"><input class="field__input" type="email" placeholder="Enter your email"></div>
        </div>
        <div class="field">
          <div class="field__label">Tell us what you need help with:</div>
          <div class="field__wrap"><textarea class="field__textarea" placeholder="Enter a topic, like “channel problem...”"></textarea></div>
        </div><button class="contact__btn btn btn_orange">Send now</button>
      </form>
    </div>
  </div>
</div>