<div class="advantages">
  <div class="advantages__center center">
    <div class="advantages__head">
      <div class="advantages__photo"><img srcset="assets/img/figures@2x.png 2x" src="assets/img/figures.png" alt=""></div>
      <div class="stage">amazing features</div>
      <h2 class="advantages__title h2" data-aos="animation-scale-top" data-aos-duration="600">See what you can do in one app</h2>
    </div>
    <div class="advantages__list">
      <div class="advantages__item">
        <div class="advantages__bg">
          <div class="advantages__preview"><img srcset="assets/img/advantages-pic-1@2x.png 2x" src="assets/img/advantages-pic-1.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/cube@2x.png 2x" src="assets/img/cube.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400"><img srcset="assets/img/ball@2x.png 2x" src="assets/img/ball.png" alt=""></div>
        </div>
        <div class="advantages__wrap">
          <div class="advantages__icon" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/cursor@2x.png 2x" src="assets/img/cursor.png" alt=""></div>
          <div class="advantages__info" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400">Stay focused whenever, wherever</div>
          <div class="advantages__text">We're a growing family of 382,081 designers and makers from around the world</div><button class="advantages__btn btn btn_border">Watch how it work</button>
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__bg">
          <div class="advantages__preview"><img srcset="assets/img/advantages-pic-2@2x.png 2x" src="assets/img/advantages-pic-2.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/triangle@2x.png 2x" src="assets/img/triangle.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400"><img srcset="assets/img/cube@2x.png 2x" src="assets/img/cube.png" alt=""></div>
        </div>
        <div class="advantages__wrap">
          <div class="advantages__icon" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/chat@2x.png 2x" src="assets/img/chat.png" alt=""></div>
          <div class="advantages__info" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400">Share files at the right time</div>
          <div class="advantages__text">We're a growing family of 382,081 designers and makers from around the world</div><button class="advantages__btn btn btn_border">Get Solo Desktop</button>
        </div>
      </div>
      <div class="advantages__item">
        <div class="advantages__bg">
          <div class="advantages__preview"><img srcset="assets/img/advantages-pic-3@2x.png 2x" src="assets/img/advantages-pic-3.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/cube@2x.png 2x" src="assets/img/cube.png" alt=""></div>
          <div class="advantages__preview" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400"><img srcset="assets/img/ball@2x.png 2x" src="assets/img/ball.png" alt=""></div>
        </div>
        <div class="advantages__wrap">
          <div class="advantages__icon" data-aos="animation-scale-top" data-aos-duration="800"><img srcset="assets/img/plane@2x.png 2x" src="assets/img/plane.png" alt=""></div>
          <div class="advantages__info" data-aos="animation-scale-top" data-aos-duration="800" data-aos-delay="400">Collaborate from anywhere</div>
          <div class="advantages__text">We're a growing family of 382,081 designers and makers from around the world</div><button class="advantages__btn btn btn_border">Schedule a demo</button>
        </div>
      </div>
    </div>
  </div>
</div>