<div class="pricing">
  <div class="pricing__center center">
    <h1 class="pricing__title d1" data-aos="animation-scale-top" data-aos-duration="600">Choose the plan</h1>
    <div class="pricing__info">Pay by month or the year, and cancel at any time.</div>
    <div class="pricing__list">
      <div class="pricing__item" *ngFor="let pricing of pricingData">
        <div class="pricing__head">
          <div class="pricing__note" *ngIf="pricing.note">{{pricing.note}}</div>
          <div class="pricing__subtitle" data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="200">
            {{pricing.subtitle}}</div>
          <div class="pricing__price" *ngIf="pricing.type !== 3">
            <span class="pricing__currency">{{pricing.currency}}</span>
            <span class="pricing__number">{{pricing.number}}</span>
            <span class="pricing__time">/{{pricing.time}}</span>
          </div>
          <div class="pricing__price" *ngIf="pricing.type == 3">
            <div class="pricing__img"><img [srcset]="pricing.srcset" [src]="pricing.src"></div>
          </div>
          <div class="pricing__text">{{pricing.text}}</div>
          <button class="pricing__btn btn btn_orange" *ngIf="pricing.type !== 3">{{pricing.btn}}
          </button>
          <button class="pricing__btn btn btn_border" *ngIf="pricing.type === 3">
            <svg class="icon icon-play">
              <use xlink:href="assets/img/sprite.svg#icon-play"></use>
            </svg>
            <span class="btn__text">Contact Sale</span>
          </button>
        </div>
        <div class="pricing__details">
          <div class="pricing__stage" *ngIf="pricing.details.stage">{{pricing.details.stage}}</div>
          <div class="pricing__category">{{pricing.details.category}}</div>
          <a class="pricing__view" href="#">{{pricing.details.view}}
            <svg class="icon icon-arrow-down">
              <use xlink:href="assets/img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </a>
          <ul class="pricing__options">
            <li *ngFor="let option of pricing.details.options">{{option}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>