<div class="history">
  <div class="history__center center">
    <div class="history__container">
      <div class="history__wrap">
        <div class="stage">easily find what you’re looking for</div>
        <h2 class="history__title h2" data-aos="animation-scale-top" data-aos-duration="600">History you can see and search</h2>
        <div class="history__info">We're a growing family of 382,081 designers and makers from around the world</div><button class="history__btn btn btn_border">Learn more</button>
      </div>
    </div>
    <div class="history__bg">
      <div class="history__preview"><img srcset="assets/img/figures-3.1@2x.png 2x" src="assets/img/figures-3.1.png" alt=""></div>
      <div class="history__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-3.2@2x.png 2x" src="assets/img/figures-3.2.png" alt=""></div>
      <div class="history__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-3.3@2x.png 2x" src="assets/img/figures-3.3.png" alt=""></div>
    </div>
  </div>
</div>