<div class="description">
  <div class="description__center center">
    <div class="description__row">
      <div class="description__wrap">
        <div class="stage">amazing features</div>
        <h2 class="description__title h2" data-aos="animation-scale-top" data-aos-duration="600">Your busy life deserves this</h2>
        <div class="description__text">We're a growing family of 382,081 designers and makers from around the world</div><button class="description__btn btn btn_border">Launch Solo Desktop App</button>
      </div>
      <div class="description__bg">
        <div class="description__preview"><img srcset="assets/img/figures-4.1@2x.png 2x" src="assets/img/figures-4.1.png" alt=""></div>
        <div class="description__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-4.2@2x.png 2x" src="assets/img/figures-4.2.png" alt=""></div>
        <div class="description__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-4.3@2x.png 2x" src="assets/img/figures-4.3.png" alt=""></div>
      </div>
    </div>
    <div class="description__row">
      <div class="description__wrap">
        <div class="stage">amazing features</div>
        <h2 class="description__title h2" data-aos="animation-scale-top" data-aos-duration="600">Never forget anything, ever again</h2>
        <div class="description__text">We're a growing family of 382,081 designers and makers from around the world</div><button class="description__btn btn btn_border">Find out more</button>
      </div>
      <div class="description__bg">
        <div class="description__preview"><img srcset="assets/img/figures-5.1@2x.png 2x" src="assets/img/figures-5.1.png" alt=""></div>
        <div class="description__preview" data-aos="animation-translate-down" data-aos-duration="1000"><img srcset="assets/img/figures-5.2@2x.png 2x" src="assets/img/figures-5.2.png" alt=""></div>
      </div>
    </div>
  </div>
</div>