<div class="questions">
  <div class="questions__center center">
    <div class="questions__preview"><img srcset="assets/img/book@2x.png 2x" src="assets/img/book.png" alt=""></div>
    <h2 class="questions__title h2" data-aos="animation-scale-top" data-aos-duration="600">Frequently asked questions</h2>
    <div class="questions__nav"><a class="questions__link active" href="#">General</a><a class="questions__link" href="#">Using Solo</a><a class="questions__link" href="#">Connect Tools</a><a class="questions__link" href="#">Workspace</a></div>
    <accordion [collapsing]="collapsing" accordionStyle="questions__list" accordionItemStyle="questions__item">
      <accordion-item *ngFor="let data of QUESTIONS_DATA">
        <ng-template accordionHeader let-toggle="toggle">
          <div class="questions__head" (click)="toggle()">{{data.head}}</div>
        </ng-template>
        <ng-template accordionContent>
          <div class="questions__body">{{data.body}}</div>
        </ng-template>
      </accordion-item>
    </accordion>
</div>

