<div class="questions">
  <div class="questions__center center">
    <div class="questions__preview"><img srcset="assets/img/book@2x.png 2x" src="assets/img/book.png" alt=""></div>
    <h2 class="questions__title h2" data-aos="animation-scale-top" data-aos-duration="600">Frequently asked questions</h2>
    <div class="questions__nav"><a class="questions__link active" href="#">General</a><a class="questions__link" href="#">Using Solo</a><a class="questions__link" href="#">Connect Tools</a><a class="questions__link" href="#">Workspace</a></div>
    <div class="questions__list">
      <div class="questions__item">
        <div class="questions__head">How does it work?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
      <div class="questions__item">
        <div class="questions__head">Which platform do you support?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
      <div class="questions__item">
        <div class="questions__head">How do I invite my teammates?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
      <div class="questions__item">
        <div class="questions__head">Do you have annual plan?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
      <div class="questions__item">
        <div class="questions__head">How to I create a new workspace?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
      <div class="questions__item">
        <div class="questions__head">How do I set roles & permissions?</div>
        <div class="questions__body">4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world.</div>
      </div>
    </div>
  </div>
</div>