<div class="main">
  <div class="main__center center">
    <div class="main__wrap">
      <div class="stage">RISK-FREE 30 DAY TRIAL</div>
      <h1 class="main__title d1"><span data-aos="animation-scale-top" data-aos-duration="600">The best way</span><span data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="200">to organize </span><span data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="400">your work.</span></h1>
      <div class="main__text">Organize your tasks, lists and reminders in one app.</div>
      <div class="main__btns">
        <button class="main__btn btn btn_orange">Try it free</button>
        <button class="main__btn btn btn_border">
          <svg class="icon icon-play">
            <use xlink:href="assets/img/sprite.svg#icon-play"></use>
          </svg><span>Watch how it works</span>
        </button>
      </div>
    </div>
    <div class="main__bg" data-aos>
      <div class="main__preview"><img srcset="assets/img/figures-1.1@2x.png 2x" src="assets/img/figures-1.1.png" alt=""></div>
      <div class="main__preview"><img srcset="assets/img/figures-1.2@2x.png 2x" src="assets/img/figures-1.2.png" alt=""></div>
      <div class="main__preview"><img srcset="assets/img/figures-1.3@2x.png 2x" src="assets/img/figures-1.3.png" alt=""></div>
    </div>
    <div class="main__partners">
      <div class="main__info">Thousands of teams worldwide are using Solo</div>
      <div class="main__list">
        <div class="main__logo" *ngFor="let partner of mainPartners"><img [src]="partner.url" alt=""></div>
      </div>
    </div>
  </div>
</div>