$black: #272E35;
$white: #ffffff;
$gray: #6E757C;
$gray-dark: #6A7986;
$gray-light: #BAC3CA;
$orange: #FAA87A;
$asphalt: #969DB1;
$light: #EEEFF2;
$primary: #FF6E30;
$secondary: #748FB5;
$dark: #1E252B;
$dark-bg: #2C353D;
$dark-light: #74777E;