<div class="quality">
  <div class="quality__center center">
    <div class="quality__body">
      <div class="quality__bg"></div>
      <div class="quality__gallery">
        <div class="quality__preview"><img srcset="assets/img/figures-2.1@2x.png 2x" src="assets/img/figures-2.1.png" alt=""></div>
        <div class="quality__preview" data-aos="animation-translate-up" data-aos-duration="1000"><img srcset="assets/img/figures-2.2@2x.png 2x" src="assets/img/figures-2.2.png" alt=""></div>
        <div class="quality__preview" data-aos="animation-translate-down" data-aos-duration="1000" data-aos-delay="400"><img srcset="assets/img/figures-2.3@2x.png 2x" src="assets/img/figures-2.3.png" alt=""></div>
        <div class="quality__preview" data-aos="animation-translate-down" data-aos-duration="1000" data-aos-delay="800"><img srcset="assets/img/figures-2.4@2x.png 2x" src="assets/img/figures-2.4.png" alt=""></div>
        <div class="quality__preview"><img srcset="assets/img/figures-2.5@2x.png 2x" src="assets/img/figures-2.5.png" alt=""></div>
      </div>
      <div class="quality__wrap">
        <h2 class="quality__title h2" data-aos="animation-scale-top" data-aos-duration="600">Keeping it all together</h2>
        <div class="quality__text">Just invite your team, Solo does all the heavy-lifting.</div><button class="quality__btn btn btn_border">Schedule a demo</button>
      </div>
    </div>
    <div class="quality__bottom">
      <div class="quality__item">
        <div class="quality__counter">100<span class="quality__sign quality__sign_up">+</span></div>
        <div class="quality__category">Countries supported</div>
      </div>
      <div class="quality__item">
        <div class="quality__counter">28<span class="quality__sign quality__sign_down">m</span></div>
        <div class="quality__category">Downloads on App Store</div>
      </div>
      <div class="quality__item">
        <div class="quality__counter">16<span class="quality__sign quality__sign_down">m</span></div>
        <div class="quality__category">Verified Users</div>
      </div>
    </div>
  </div>
</div>